body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav {
	z-index: 1;
	width: 100%;
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	display: flex;
	flex-direction: row;
	opacity: .3;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.nav:hover {
	opacity: 1;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.nav-item {
	padding: .5em 1em;
	color: white;
	font-size: 1.5em;
	font-variant: small-caps;
	text-decoration: none;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.nav-item:hover {
	background-color: rgba(0, 0, 0, .8);
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.dropdown1, .dropdown2 {
	margin-top: .8em;
}
.drop-content1, .drop-content2 {
	margin-top: .7em;
	display: none;
	opacity: 0;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.dropdown1:hover .drop-content1 {
	display: flex;
	flex-direction: column;
	opacity: 1;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.dropdown2:hover .drop-content2 {
	display: flex;
	flex-direction: column;
	opacity: 1;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.drop-item {
	padding: .5em 1em;
	color: white;
	font-size: 1.5em;
	font-variant: small-caps;
	text-decoration: none;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.drop-item:hover {
	background-color: rgba(0, 0, 0, .8);
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}

.parallax1, .parallax {
	background-image: url('../img/background.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caption {
	position: absolute;
	left: 0;
	top: 45%;
	height: 2.5%;
	width: 100%;
	text-align: center;
	color: #000;
}
.caption p {
	cursor: default;
	background-color: #ddd;
	color: black;
	padding: .5em 1em;
	font-size: 2.2em;
	letter-spacing: 5px;
	font-variant: small-caps;
	opacity: .5;
	width: 30%;
	margin: auto;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.caption p:hover {
	background-color: #bbb;
	opacity: .9;
	padding: .6em 1.1em;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.parallax2 {
	background-image: url('../img/background2.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax3 {
	background-image: url('../img/background3.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section, .section-short {
	padding: 0;
	background-color: #ccc;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.item, .item-short {
	width: 100%;
	background-color: #ccc;
	padding: 2em 1em;
	opacity: .8;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.item-short {
	padding: .5em 1em;
	background-color: #aaa;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.item:hover, .section:hover, .section:hover .item {
	background-color: #bbb;
	opacity: 1;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.item-short:hover, .section-short:hover, .section-short:hover .item-short {
	background-color: #888;
	opacity: 1;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.item-title {
	font-size: 2em;
	border-bottom: 2px solid black;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}
.item-title-short {
	font-size: 1.2em;
	border-bottom: 1px solid white;
	width: 30%;
	text-align: center;
	margin: auto;
}
.item-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item-content-short {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
	margin: .5em auto;
}
.item-p {
	text-indent: 1.5em;
	font-size: 1em;
	width: 90%;
	text-align: justify;
	margin: auto;
	font-size: 1.5em;
	padding: 3% 0;
}
.item-second-p {
	margin-top: -4em;
}
.item-img {
	width: 20%;
	height: 20%;
	border-radius: 20px;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.item-img:hover {
	border-radius: 5px;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}

@media screen and (max-width: 550px) {
	.right {
		display: none;
	}
	.mobile-btn {
		display: block;
	}
	.caption p {
		width: 90%;
	}
	.section {
		height: auto;
	}
}