#jump-links {
	display: none;
}
.jump-to {
	padding: .5em;
	color: white;
	text-decoration: none;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.jump-to:hover {
	background-color: #666;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.show-btn, .hide-btn {
	margin: .5em auto;
	padding: .5em;
	background-color: #666;
	width: 10%;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.hide-btn {
	display: none;
}
.show-btn:hover, .hide-btn:hover {
	background-color: #444;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 1em;
	background-color: #ccc;
}
.width-third {
	margin: .5em 0;
	background-color: #ccc;
	width: 31%;
	padding: .5em;
	cursor: default;
	text-align: center;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.width-third:hover {
	background-color: #aaa;
	border-radius: 0 0 0 10px;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.width-third ul {
	list-style: none;
	margin-left: -2.5em;
}
.width-full {
	margin: .5em 0;
	background-color: #ccc;
	width: 97.6%;
	padding: .5em;
	cursor: default;
	text-align: center;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.width-full:hover {
	background-color: #aaa;
	border-radius: 0 0 0 10px;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
.width-third:hover a {
	background-color: #888;
	background-color: rgba(0, 0, 0, .2);
}
footer a {
	color: black;
	text-decoration: none;
	font-style: italic;
	font-size: 1em;
	padding: .5em;
	background-color: #aaa;
	background-color: rgba(0, 0, 0, .2);
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}
footer a:hover {
	padding: .75em;
	box-shadow: 2px 2px rgba(0, 0, 0, .5);
	border-radius: 5px;
	-webkit-transition: all .5s .2s;
	-moz-transition: all .5s .2s;
	-o-transition: all .5s .2s;
}